@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {

    --border: 214.3 31.8% 91.4%;
    --radius: 0.5rem;
  }
 
  .dark {
    --border: 217.2 32.6% 17.5%;
  }
}

@property --fill {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 0%;
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dock-item::after{
  position: absolute;
  z-index: -1;
  content: '';
  inset: -3px;
  border-radius: inherit;
  background: conic-gradient(greenyellow var(--fill), transparent var(--fill));
  transition: --fill 0.6s ease-in-out;
}